.client-logo-slider {
    position: relative;
  }
  
  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background for visibility */
    border-radius: 3px;
    border:1px solid rgb(177, 177, 177);
    padding: 2px 7px;
    cursor: pointer;
    z-index: 10;
  }
  
  .custom-arrow svg {
    color: #000000; /* White icon for better contrast */
  }
  
  .custom-next-arrow {
    right: 2px; /* Adjusted closer inside the slider area */
  }
  
  .custom-prev-arrow {
    left: 2px; /* Adjusted closer inside the slider area */
  }
  
  .custom-arrow:hover {
    background-color: rgba(85, 167, 197, 0.8); /* Darker background on hover */
  }
  